<!DOCTYPE html>
<html>
<head>
  <title>Rails Girls app</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="page-header">
				<ul class="nav nav-pills pull-right">
          <li>
            <%= link_to "home", root_url %>
					</li>
					<li>
            <%= link_to "new idea", new_idea_path %>
					</li>
					<li>
            <%= link_to "about", pages_info_path %>
					</li>
					<li>
						<%= link_to "contact", 'email_to:shyaam@aol.in' %>
					</li>
				</ul>

				<h1>
          <%= link_to "IDEAS", root_url %>
					<small>// what's your brain smackin' big idea?</small>
				</h1>	
			</div>
    </div>
<div class="container">
  <%= yield %>
</div>
  <footer>
  <div class="container">
    Rails Girls &copy; 2014. made with &hearts; in Vita, India by <%= link_to "shyaam deshmukh", 'http://github.com/shyaam' %>.
  </div>
</footer>
<br><script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>