<!DOCTYPE html>
<html>
<head>
  <title>Rails Girls app</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="page-header">
				<ul class="nav nav-pills pull-right">
          <li>
            <%= link_to "home", root_url %>
					</li>
          <!--- adding devise user login section here -->
          <li>
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to "edit profile", edit_user_registration_path, :class => 'navbar-link' %>
            <%= link_to "logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
            <%= image_tag current_user.gravatar_url %>
          <% else %>
            <%= link_to "sign up", new_user_registration_path, :class => 'navbar-link' %>
            <%= link_to "login", new_user_session_path, :class => 'navbar-link' %>
          <% end %>
          </li>
					<li>
            <%= link_to "new idea", new_idea_path %>
					</li>
					<li>
            <%= link_to "about", pages_info_path %>
					</li>
					<li>
						<%= mail_to "shyaam@aol.in", 'contact' %>
					</li>
				</ul>

				<h1>
          <%= link_to "IDEAS", root_url %>
					<small>// what's your brain smackin' big idea?</small>
				</h1>	
			</div>
    </div>
<div class="container">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
  <footer>
  <div class="container">
    Rails Girls &copy; 2014. made with &hearts; in Vita, India by <%= link_to "shyaam deshmukh", 'http://github.com/shyaam' %>.
  </div>
</footer>
<br><script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>